@charset "utf-8";
/* CSS Document */
body{font-family:Arial, Helvetica, "Microsoft YaHei", "SimSun", sans-serif;background:#f8f8f8;}
ul, li{list-style:none;}
a{text-decoration:none; color:#999}
a:hover{text-decoration:none; color:#4da422;}
.clr{display:block;clear:both;}
.hr_100, .hr_50, .hr_40, .hr_35, .hr_30, .hr_25, .hr_20, .hr_15, .hr_12, .hr_10, .hr_8, .hr_7, .hr_5, .hr_3, .hr_1{ clear:both; font-size:1px; line-height:1px; overflow:hidden; }
.hr_100 { height:100px; }
.hr_50 { height:50px; }
.hr_40 { height:40px; }
.hr_35 { height:35px; }
.hr_30 { height:30px; }
.hr_25 { height:25px; }
.hr_20 { height:20px; }
.hr_15 { height:15px; }
.hr_12 { height:12px; }
.hr_10 { height:10px; }
.hr_8 { height:8px; }
.hr_7 { height:7px; }
.hr_5 { height:5px; }
.hr_3 { height:3px; }
.hr_1 { height:1px; }
/* 导航条 */
.m-navbar{margin-bottom:0;background:rgba(255, 255, 255, 0.2);border:none;}
.m-navbar .navbar-brand{padding-right:2px;height:75px;}
.m-navbar .navbar-brand img{max-width:100%;max-height:100%;}
.m-navbar .navbar-nav>li>a{padding:10px 9px;font-size:15px;}
.m-navbar .navbar-nav>li>a:hover,
.m-navbar .navbar-nav>li>a:focus{color:#4da422;}
.m-navbar .navbar-nav>.active>a,
.m-navbar .navbar-nav>.active>a:hover,
.m-navbar .navbar-nav>.active>a:focus{color:#4da422;background:none;}
.m-navbar .navbar-nav>li>a span{margin-right:5px;}
.m-navbar .navbar-toggle{margin-top:23px;}
.tele{float:left;width:185px;line-height:50px;}
.tele a{display:block;}
.tele p{margin:0;font-size:16px;}
.logo_tel{float:left;width:20%;margin:0 3% 0% 6%;}
.logo_tel img{max-width:100%;max-height:100%;}
@media (min-width:768px) {
.m-navbar .navbar-nav{float:right;padding:20px 0;}
.house_li_info{height:180px;}
}
/* 轮播图 */
.carousel-indicators{bottom:0;margin-bottom:5px;height:16px;}
.carousel-indicators li{width:10px;height:10px;margin:0 5px;background:#fff;border:none;}
.carousel-indicators li.active{width:12px;height:12px;margin:0 5px;background:#0583F2;}
.carousel-inner .item img{width:100%;}
.carousel-control{opacity:0;}
/*公共样式*/
.cl-sm-6{width:50%;float:left;}
.cl-sm-4{width:33.333333%;float:left;}
.cl-sm-8{width:66.666667%;float:left;}
.cl-sm-6{width:50%;float:left;}
.module{padding:10px 0 5px 0px;background:#f8f8f8;}
.module img{max-width:100%;}
.module_h{padding:10px;background:#fff;overflow:hidden;}
.module_h h2{float:left;color:#0583F2; font-size:20px; background:none;margin:0;}
.module_h p{float:right;margin-bottom:0;color:#bbb;line-height:24px;}
.fund_d p{font-size:14px;text-indent:2rem;line-height:20px;}
.module_d{margin-top:5px;}
/* 移民房产 */
.house_d ul{margin:0;padding:5px;background:#fff;overflow:hidden;}
.house_d li{position:relative;overflow:hidden;*zoom:1;background:#fff;padding:0.5rem;}
.house_d img{display:block;width:100%;height:100%;}
.house_d li p{position:absolute;top:0;left:0;width:100%;color:#fff; font-size:1.7rem;text-align:center;line-height:80px;}
.house_d li a{overflow:hidden;}
.house_list li{}
.house_title{height: 40px;}
.srdz_title{height: 40px;color: black; font-size: smaller;}
.house_li_info{position:relative;height:90px;overflow:hidden;}
.house_desc{font-size:x-small; color: #999; margin-top: 7px;}

/*基金移民*/
.fund_d{background:#fff;padding:10px;}
/* 最新资讯 */
.news_d ul{margin-top:0;padding:0;overflow:hidden;}
.news_d li{position:relative;overflow:hidden;*zoom:1;margin:5px 0;background:#fff;padding:1rem;}
.news_d img{width:100%;}
.news_d li p{color:#000; font-size:1.7rem;}
.news_d li a{overflow:hidden;}
.news_d .info_img{width: 10rem;height: 7rem;margin-right: 0.5rem;}
.news_d .info_img img{display:block;width:100%;height:100%;}
.news_d .info{display:block;padding:0 0.5rem;}
.news_d .tit{color:#000;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news_d .des{color:#000;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pagination{margin:0 10px;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background:#0583F2;}
/* 页脚 */
.footer_d{padding:25px 0;line-height:30px;background:#222;}
.footer_d dt{line-height:30px;font-size:16px;font-weight:400;color:#fff;}
.footer_d dd{float:left;width:50%;line-height:30px;font-size:13px;}
.footer_code{padding-right:10%;}
.footer_code .pull-left, .footer_code .pull-right{width:45%;text-align:center;}
.footer_code img{width:130px;height:130px;}
.footer_code p{color:#999;margin-top:5px;}
@media (max-width:767px){
.footer_code{clear:both;}
}
.footer_contact{padding:0 15px;}
.footer_d .contact_l{width:56%;}
.footer_d .contact_r{width:43%;}
@media (max-width:370px){
.footer_contact{padding:0 3px;}
}
.footer_contact dt{color:#4da422;}
.footer_contact i{margin-right:5px;}
.footer_b{padding:10px 0;text-align:center;background:#101010;}
.footer_b p{margin:0;color:#8e8e8e;}

.footer_tele{}
.footer_tele a{display:block;font-size:18px;color:#0583f2;}
/*公共详情页*/
.service{position:fixed;bottom:0;left:0;z-index:10000;width:100%;height:6rem;padding:0rem 1rem;background:#ececec;}
.ser_close{float:left;margin:2.5rem 1rem 0 1rem;background:url('../images/ser_close.png') no-repeat;background-size:100% 100% ;width:15px;height:15px;}
.ser_l{float:left;}
.ser_l h3{font-size:2.3rem;margin:1.5rem 0 0.5rem 0;}
.ser_l p{font-size:1.3rem;color:#999;}
.ser_r{float:right;color:#999;height:6rem;border-left:1px solid #ccc;text-align:center;margin-top:0.5rem;padding-left:15px;}
.ser_r i{color:#0583F2;font-size:2rem;display:inline-block;width:100%;margin:1rem 0;}
.back img{max-width:100%;}
.back{text-align:center;}
.article_list{padding:20px;}
.article_list img{max-width:100%;}
.more_arti h3{font-size:16px;font-weight:bold;}
/* 文章详情页 */
.jumbotron h1{color:#999;}
.article_m{background:#fff;}
.article_h{padding-top:20px;text-align:center;border-bottom:1px solid #e5e5e5;}
.article_h h2{margin-top:0;font-size:20px;}
.article_h p{font-size:12px;color:#999;}
.article_d{padding:20px 20px;}
.article_d img{max-width:100%;}
/* 文章列表页 */
.sidebar .list-group-item.active,
.sidebar .list-group-item.active:hover,
.sidebar .list-group-item.active:focus{background-color:#0583F2;border-color:#0583F2;}
.sidebar .active a,
.sidebar .active .text-primary{color:#fff;}
.main_m{background:#fff;}
.main .news{padding:10px 0;}
.main .news ul{padding:0;}
.main .news .time{font-size:14px;color:#333;font-weight:bold;line-height:25px;}
.main .news .info{color:#666;}
/*房产移民页*/
.sidebar_title{background:#fff;margin:5px 0px;padding:1px 5px;border-radius:4px;}
.sidebar_title h2{margin:10px 0;}
.s_house{}
.s_house>li>img{width:100%;}
.s_house li p{text-align:center;}
.s_house li{position:relative;cursor:pointer;padding:0;margin:5px 0;}
.s_house li img{width:100%;height:100%;vertical-align:top;}
.s_house .state{position:absolute;top:0;right:0;z-index:999;*top:-40px;width:65px;height:65px;}
.s_house li:hover .tab_shadow{display:inline-block;}
.s_house li.active .tab_shadow{display:inline-block;}
.s_house p{position:absolute;top:30%;width:90%;font-size:24px;color:#fff;z-index:999;text-align:center;font-weight:600;font-family:"microsoft yahei";}
.tab_shadow{display:none;position:absolute;width:100%;height:100%;z-index:99;top:0;left:0;background:rgba(5,131,242,0.5);}
.main_r{background:#fff;}
.main_r_arti{}
.r_title{}
.r_title h2{float:left;font-size:16px;}
.r_title .r_nav{float:right;padding:20px 0 10px 0;}
.r_nav li{float:left;}
.r_con>li{display:none;}
.r_con>li.active{display:block;}
.r_con{padding:0;}
.r_con img{max-width:100%;}
.ym_title{background-color: white; padding: 10px;}
.ym_info{background-color: white; padding: 10px; color: #999;}
@media (min-width:768px) {
.house_li_info{height:240px;}
.house_d li p{line-height:240px;}
.media:first-child{margin-top:5px;}
}